/* Add CSS Styling */
.watch
    {
        background-color: rgb(255, 192, 203);
        font-family: Verdana, "DejaVu Sans", sans-serif;

    }

.cooler
        {
            font-size: 24px;
        }   

#zwei
        {
            color: rgb(0, 0, 255);
            font-size: 36px;
        }
#vier
        {
            background-color: #90ee90;
            font-weight: bold;
        }