/* Add CSS Styling */
.lol
        {
            color: white;
            background-color: black;
        }

.rofl
        {
            background-color: yellow;
        }

.lol,
.rofl
        {
            font-size: 28px;
            font-family: Helvetica,'Times New Roman', sans-serif;
        }